body {
    text-align: center;
    background-color: #011F3F;
  }
  
  #level-title-desktop {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin:  5%;
    color: #FEF2BF;
  }

  #level-title-mobile {
    display: none;
  }
  
  .container {
    display: block;
    width: 50%;
    margin: auto;
  
  }
  
  .btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  .yellow {
    background-color: yellow;
  }

  .mobile {
    text-align: center;
    background-color: white;
    font-size: 5rem;
  }

  .hide-on-desktop {
    visibility: hidden;
  }


  
  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }

  
@media only screen and (max-width: 720px) {
  .hide-on-desktop {
    visibility: visible;
  }

  #level-title-desktop {
    display: none;
  }

  #level-title-mobile {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin:  5%;
    color: #FEF2BF; 
    display: block;
  }

  .mobile p{
    margin: 0;
    padding-top: 2rem;
    font-size: 2rem;
  }

  .mobile {
    text-align: center;
    background-color: white;
  }

  .container {
    display: flex;
    margin: 0;
    justify-content: center;
    width: 100%;
  }

  .btn {
    height: 100px;
    width: 100px;
  }
}

